---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import { Heading } from 'accessible-astro-components'
import { getCollection, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import projectImage1 from '@assets/images/projects/project-image-1.png'
import projectImageJingle from '@assets/images/projects/JingleShellCTF.jpg'
import { slugify } from '@/utils/slugify'
import projectDucaAvatar from '@assets/images/projects/DUCAClub.png'

export async function getStaticPaths() {
  const projects = await getCollection('projects')

  const projectImages = [
    projectImage1,
    projectImageJingle,
  ]

  return projects.map((project, index) => {
    const projectWithImage = {
      ...project,
      featuredImage: projectImages[index % projectImages.length],
    }

    const projectId = ((): string => {
      if (typeof project.id === 'string') return project.id
      if (project.id && typeof project.id === 'object' && (project.id.slug || project.id.value)) return project.id.slug ?? project.id.value
      if ((project as any).slug) return (project as any).slug
      if (project.data?.slug) return project.data.slug
      return slugify(project.data?.title ?? '')
    })()

    return {
      params: { project: projectId },
      props: { project: projectWithImage },
    }
  })
}

interface Props {
  project: CollectionEntry<'projects'> & { featuredImage: any }
}

const { project } = Astro.props
const { Content } = await render(project)

const author = {
  name: project.data.author,
  image: (projectDucaAvatar && (projectDucaAvatar.src ?? projectDucaAvatar)) as any,
  bio: 'Student Club',
}
---

<DefaultLayout title={project.data.title} description={project.data.description} url={`/project/${project.id}`}>
  <PageHeader
    title={project.data.title}
    subtitle={project.data.description}
    author={author}
    bgType="bordered"
    featuredImage={project.featuredImage}
  />
  <section class="my-12">
    <div class="narrow space-content container">
      <Content />
    </div>
  </section>
  <section class="my-12">
    <div class="narrow space-content container">
      <Heading level="h2">Share this project</Heading>
      <p>Like this project? Share it with your network!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  .narrow {
    margin-inline: auto;
    max-width: 65ch;
  }
</style>
